[2020-04-09 07:59] cdytoby opened #1 "Decode device parameters"
## Description

Device Parameters are encoded using Protocol Buffer, we need to find a way to decode it, so that user can understand which Cardboard he's in.

## Technical Detail

https://github.com/googlevr/cardboard/blob/master/sdk/qrcode/cardboard_v1/cardboard_v1.cc
According to this file, vendor and model strings are in parameters.

## Tasks

- [x] Decode Device Parameters, and print vendor an

[2020-04-09 08:02] cai-mobfish opened #2 "Generate correct eye mesh"
## Description

The new Cardboard's mesh format is linestrip in unity. In order to use it to eye, it have to be converted to triangles so that texture can be correctly displayed.

## Technical Detail

https://github.com/googlevr/cardboard/blob/master/sdk/distortion_mesh.cc
Here is the detail about how the mesh is generated inside cardboard sdk.

[2020-04-09 08:04] cai-mobfish opened #3 "Native plugin for Android"
## Description

iOS plugin already works in the project, native methods can be called. We need the same for Android.

[2020-04-09 08:06] cai-mobfish opened #4 "Editor plugin mockup"
## Description

Without native plugin, the whole cardboard codes won't work and project won't run in Editor. We need mockup in Editor so that we can test some cases faster.

## Tasks

- [x] Keyboard Simulating head rotation
- [x] Left/Right eye camera view matrix for editor
- [x] eye mesh for editor mode

[2020-04-09 08:12] cai-mobfish opened #5 "Render distorted image on screen (Cardboard VR View)"
## Description

Render the distorted image from camera texture to screen. This is the basic feature for Cardboard.

It doesn't matter if the image is mathematically correct. It will be handled in other tickets.

## Technical Detail

### Old Plugin Detail
In old cardboard plugin before UnityVR existed, the Unity's way to render distorted image is using RenderTexture and Mesh.
- Detail in this file

[2020-04-09 08:16] cai-mobfish opened #6 "Get correct device orientation from Cardboard SDK"
## Technical Detail

Currently, `Input.gyro` is used to retrieve and calculate device orientation, because there are problems with cardboard way to get the orientation. The quaternion needs converted, but the bigger issue is, the "rotation speed" is almost 2 times faster, rotate device 90 degrees makes in-game camera 180 degrees rotation. Somethings are definately wrong with the usage.

Related fi

[2020-04-09 08:38] cai-mobfish opened #7 "Create usable unitypackage for plugin user"
## Requirement

- Prefab is created and can be easily setup
- Should not contain any EditorUpdate. Use individual class and methods instead.
- Should not contain any pre/post export method. Use individual class and methods instead.
- Documentation about usage
- Documentation about Project Settings and setup

[2020-04-09 08:53] cai-mobfish opened #8 "Automatically set cardboard profile in script"
## Detail

Some end users/clients want to manually set cardboard profile so that this app can be directly used in exhibition show or showcase meeting.

## Technical Detail

### Old Cardboard Overview

In old Cardboard, cardboard profile can be manually set using "half decoded" cardbaord url.
But it only sets the default cardboard profile. Once user changed a cardboard profile manually, this won't

[2020-04-14 07:07] cdytoby opened #9 "Render distorted image correctly on screen."
## Detail

The following parameters or properties must be correct
- Distortion
- Camera view parameters
- Camera eye distance

And find a way to verify if these are correct.
One possible approch is, create an exact same scene as Google Cardboard Demo, and compare it with our demo.

[2020-04-14 08:50] #2 closed

[2020-04-14 19:26] hawkwood opened #11 "REQUEST: use Unity ARFoundation for Tracked Pose Driver"
A benefit to just jumping straight in and letting Unity's existing ARFoundation handle the rotational tracking, is that we could also easily turn on positional tracking for devices that support it, and now have 6DOF headsets.

[2020-04-15 07:10] cai-mobfish commented on #11
It is not our focus but I'll see what I can do after 1.0 Release. I'll keep this ticket.

[2020-04-15 11:54] cai-mobfish opened #12 "Error when archive xcode project, it seems arm7 and arm64 linking is wrong"
## Details

Error message:

ld: warning: ignoring file /Volumes/MyData/Workspaces/XCodeWorkspace/mobfishCardboard_XCode/Libraries/Cardboard/Plugins/iOS/libsdk.a, building for iOS-armv7 but attempting to link with file built for iOS-arm64

## Technical Details

It seems libsdk.a is arm64 only, it should be available for both arm7 and arm 64

[2020-04-15 11:56] cai-mobfish opened #13 "Create default cardboard profile when app starts at the first time."
## Detail

Currently, when app starts, it has to access camera to scan qr code, so that a cardboard profile can be generated. Try set or use a default profile when no profile exists.

[2020-04-15 12:13] cai-mobfish commented on #5
Unity way of distorted image rendering is finished. It works. Screenshots or video will be available later.

[2020-04-15 12:13] #5 closed

[2020-04-15 14:31] rohantipare commented on #1
The Device Parameters is saved as a string in User Defaults for key : "com.google.cardboard.sdk.DeviceParamsAndTime"

Here is the actual code in file https://github.com/googlevr/cardboard/blob/master/sdk/qrcode/ios/device_params_helper.mm

line 28: NSUserDafaults key
line 158: writes the device parameter to NSUserDefault every time it updates.

sample log:
"VR BOX (Measured by 'Sites in VR')\^R\^F

[2020-04-16 12:46] cdytoby opened #15 "Create VR camera prefab for easy setup"
- Do some refactor so that API can be easily accessed
- Prefab should be created for VR Camera
- Documentation for VR Camera Prefab, in github.

[2020-04-16 13:47] rohantipare commented on #1
Implementation done. Pushed on branch 'deviceParameters'.

[2020-04-16 14:09] cai-mobfish commented on #1
@rohantipare Thank you for the work.

I have a few questions:

- I noticed that you implemented the whole Protocol Buffer's C# source into this project, is it possible to not implement the whole source code? like a single netstandard compatible dll file.
- I noticed that `Assets/Cardboard/Scripts/CardboardDevice.cs` is automatically generated. And it's "Generated by the protocol buffer compiler",

[2020-04-16 14:20] rohantipare commented on #1
1: I will work on DLL solution.
2: I will add the file .proto file in the project.

[2020-04-16 14:26] cai-mobfish commented on #1
@rohantipare I just did some research, I think I know too little about this protocol buffer thing. I don't think .proto file is necessary in this project, a compiled file should be enough.

But I also want to prevent unnecessary code, so after view some more files, I just noticed one thing: there is already a compiled `DeviceParam` in `libsdk.a`.

The source codes are here: https://github.com/goog

[2020-04-16 16:34] rohantipare commented on #1
Yes. My intention was to do the same. But if you check out the HelloCardboard project in Google repository, 'DeviceParam' is not accessible unless you modify dependencies and/or header search paths.
Also I think the protocol buffer aims to achieve language agnostic sharing of data.
These are my findings and opinion. Let me know if I missed something.

[2020-04-17 07:03] cai-mobfish commented on #1
I'm not familiar with c++ things, but I understand what you mean.

I think a dll solution should be better.

Also, on second thought, I think .proto file should be included in project, along with the compiled .cs file. Can you change the namespace to "MobfishCardboard" so that this new file's namespace to match the rest?

After you're done, assign this issue to me, I need to add a license notice o

[2020-04-17 08:04] rohantipare commented on #1
Sure. I will do that.

[2020-04-17 11:13] rohantipare commented on #1
@cai-mobfish Below are the modifications:
1: Use DLL for google protocol buffer.
2: Change namespace to 'MobfishCardboard'
3: Add carboard_device.proto at 'Resources\ProtocolBuffer'
Latest changes are pushed to branch 'deviceParameters'

[2020-04-17 12:25] cai-mobfish commented on #1
@rohantipare
One more question:

Do you have any specific reason why this proto file in Resources? Will this file being loaded during runtime? Can I move to other location?

[2020-04-17 12:36] rohantipare commented on #1
Yes. You can. The .proto file has no usage.

[2020-04-17 14:53] #1 closed

[2020-04-17 20:15] hawkwood commented on #11
That's understandable, then my alternate request is to decouple the head tracking part from the main VR script.  Please take a look at my commit on my fork of this project: https://github.com/hawkwood/Cardboard-VR-Unity-SDK/commit/b27f56245d97ef3b48c995f1113e54f468563981
If you do that, then I can easily disable it, and enable ARFoundation tracking manually without having to continuously modify th

[2020-04-20 07:02] cai-mobfish opened #18 "After scan the qr code through camera, unity doesn't get any callback or feedback."
## Technical Details

OnApplicationFocus and OnApplicationPause doesn't trigger when scan the qr code from camera.
We need to find a way to get a callback without using update or long time coroutine.

[2020-04-20 07:05] cai-mobfish opened #19 "Decouple main camera script into multiple components"
## Detail

Currently all features are doing in the `CardboardMainCamera`, we need to split it to keep code clean and easier management. It's also a feedback from community.

Following components can be split:

- [x] head transform
- [x] overlay ui (qr code and profile related)
- [x] editor head rotation mockup

[2020-04-20 07:07] cai-mobfish commented on #11
https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/19

I created a new ticket for it, thanks for the feedback.

[2020-04-20 14:10] cai-mobfish commented on #15
First Document is here:

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Usage

[2020-04-20 14:10] #15 closed

[2020-04-20 14:11] cai-mobfish opened #20 "Switch between VR and none VR mode"
## Detail

VR mode and no VR mode should be switchable, and default should be no VR mode.

[2020-04-21 09:20] cai-mobfish commented on #4
Press and hold left alt, then move mouse to rotate the camera.
Press and hold left ctrl, then move mouse to tilt the camera.

[2020-04-21 09:20] #4 closed

[2020-04-22 09:18] rohantipare commented on #6
I think the float array for orientation from native to Unity is not transferred the right way. I found this by:
1: Inserting the a log in the function call 'Cardboard_getPose' to print orientation values in the sdk
2: Building the sdk with log, and importing it in unity
3: Observing the orientation values at the unity side, on the device screen.

The orientation values from the native side (printe

[2020-04-22 13:38] cai-mobfish commented on #19
Done and merged in public_dev.

[2020-04-22 13:38] #19 closed

[2020-04-22 13:41] cai-mobfish commented on #11
@hawkwood

Hello, I just updated `public_dev` branch, and now the main camera components are decoupled. You can setup your own camera prefab with it.

[2020-04-22 14:03] cai-mobfish commented on #9
According to old cardboard,

- "\Assets\GoogleVR\Scripts\GvrEye.cs"
- "\Assets\GoogleVR\Scripts\VRDevices\BaseVRDevice.cs"

Camera eye position is decided by cardboard viewer lense separation, which is also `InterLensDistance`. No rotation is applyed.

The new cardbaord introduced some other parameters, it should also be considered.

InterLensDistance: Horizontal distance between optical center of

[2020-04-23 07:21] cai-mobfish commented on #9
My test package, it's the same as in the demo folder.

[test.zip](https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/files/4520824/test.zip)

It seems InterLensDistance is already enough, but more test is needed.

[2020-04-23 14:50] cai-mobfish commented on #9
Note:

For Matrix, both Unity and GLKit(OpenGL) are column major, but GLKit may have different array order for matrix. Detail here: https://stackoverflow.com/questions/9688509/how-is-glkits-glkmatrix-column-major

For Coordinate, Unity is left handed, GLKit is right handed.

However, projection matrix seems can be used without modification and without issue. So I believe array order is not a probl

[2020-04-23 16:14] cdytoby commented on #9
What I did:

There are 2 different apps on a same device: one is this unity project (A), another is a test project (B) with exactly the same scene setup, and current unity vr with cardboard option. Package is available above in comment. The goal is, to test if this unity project have exact the same view as the old unity vr with cardboard.

Both app will need to scan the same qr code.

There are cu

[2020-04-23 16:47] cdytoby commented on #9
OK I can confirm that the old cardboard in unity and new cardboard (native sdk) has different view result with the same qr code.

This is the result with the same device and same qr code. We can already see the black edge are different.

![File](https://user-images.githubusercontent.com/15671368/80125991-bd8bda00-8592-11ea-9728-13436d547e40.jpg)

[2020-04-24 11:32] rohantipare commented on #18
@cai-mobfish
The implementation is complete. Changes are merged with 'public_dev' and pushed to branch 'QRCallback'.
Some important points:
1: The sdk 'lbsdk.a' is modified to make provision for the callback.
2: Add new library 'libCardboardUtility.a' to handle native implementation.
3: New plugin functions added in 'CardboardQrCode.cs':
     a: registerObserver
     b: deregisterObserver

Files a

[2020-04-25 11:34] rohantipare commented on #12
@cai-mobfish
The Universal library is built and pushed to branch 'UniversalLib' branch. I was able to create the archive successfully.

[2020-04-25 11:36] rohantipare commented on #18
I have also built and imported Universal Lib of 'libCardboardUtility.a'. Latest changes are pushed to branch "QRCallback"

[2020-04-27 12:35] #18 closed

[2020-04-27 12:51] cai-mobfish commented on #12
https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/18

This issue is handled in another issue, because cardboard sdk is modified and recompiled.

[2020-04-27 12:51] #12 closed

[2020-04-27 14:55] cai-mobfish commented on #9
https://github.com/googlevr/cardboard/blob/master/sdk/lens_distortion.cc

According to this file, eye_from_head_matrix_ is nothing more than inter_lens_distance offset.

[2020-04-27 15:50] cai-mobfish commented on #9
@rohantipare

- Please give me feedback how the views look like on your side.
- We have already used CardboardMesh and projection_matrix, they're probably related to DeviceParams in internal source code, InnerLensDistance is used in eye_from_head_matrix and I used InnerLensDistance directly. If possible, can you check in the Cardboard SDK, and see if there are any parameters in DeviceParams, which

[2020-04-28 14:08] rohantipare commented on #9
@cai-mobfish
I was able to reconstruct the scene from HelloCardboard in unity. I disabled the camera movement in both the builds. I have tested them for 2 variations of device parameters. Here are the screenshots:

HelloCardboard screenshots:
![HelloCardboard1](https://user-images.githubusercontent.com/22829245/80496324-aaa84980-8986-11ea-9a60-07746b582a09.jpeg)
![HelloCardboard2](https://user-ima

[2020-04-28 14:58] cai-mobfish commented on #9
@rohantipare Great! then I'll take this ticket again, do some refactor and test, then this issue is done.

If possible, can you export this scene/asset or prefab into unitypackage and upload it? This is valuable for testing purpose.

Or push it with the code into a new branch.

[2020-04-28 15:16] rohantipare commented on #9
@cai-mobfish
I have pushed the scene to branch 'RenderValidation'.
'DemoScene' is modified and the Camera movement is disabled.

[2020-04-29 09:35] cai-mobfish commented on #9
Merged into public-dev

This ticket can be closed. But new ticket is needed to add reconstructed scene from google cardboard.

[2020-04-29 09:37] #9 closed

[2020-04-29 09:44] cai-mobfish opened #26 "Add alternative scene for Test"
## Detail

An alternative test scene is reconstructed based on official Cardboard SDK, it's pushed into branch "RenderValidation". We need to either merge this branch, or just add this scene into main branch.

## Things to do

- [x] Add option for Camera to preserve camera GameObject between Scene
- [x] Add alternative test scene
- [x] Add a button to switch the scenes.

[2020-04-29 12:41] cai-mobfish opened #27 "Add Recenter functionality"
## Detail

This is a standard Recenter function, it can be used to make camera face "Front" in scene.

[2020-04-29 13:01] rohantipare commented on #8
@cai-mobfish
I was able to load a device parameters through the url from Unity.
URL:  "https://arvr.google.com/cardboard/download/?p=Cgxtb2JmaXNoIEdtYkgSElZJU0lUIFBMQVlFUjM2MC5ERR2ZuxY9JbbzfT0qEAAASEIAAEhCAABIQgAASEJYADUpXA89OgiCc4Y-MCqJPlAAYAA"

Please check the screenshots and let me know if the parameters loaded are right:
![fullsizeoutput_19](https://user-images.githubusercontent.com/22829245/

[2020-04-29 13:14] cai-mobfish commented on #8
Yes, the name is correct at least.

It seems that the url is changed. But it doesn't matter, any kind of url will do. Is that just default cardboard profile? or will it override current cardboard profile?

[2020-04-29 13:50] rohantipare commented on #8
For now it loads the default profile at start, hence overrides the saved profile. I am working on loading the default profile only when there is no saved profile.

[2020-04-29 13:52] cai-mobfish commented on #8
Thanks. If possible, provide both possibilities, one is set default profile, another is set current profile.

[2020-04-29 14:15] rohantipare commented on #8
Will do that. Thanks.

[2020-04-30 10:23] rohantipare commented on #8
@cai-mobfish
The implementation is complete. Function to load device parameters from URL is 'LoadDeviceParametersFromURL'  in 'CardboardQrCode.cs'.

I have created provision to load default device parameters (in 'CardboardMainCamera.cs') when one is not available.
Changes are pushed to branch 'DeviceProfileFromURL'.

[2020-04-30 10:36] cai-mobfish commented on #8
@rohantipare Thanks for the implementation. I have yet tested on my side, but I have a question:

I noticed that you added a header file directly in Plugin folder, which already exist in Cardboard SDK. How does it work without implementation file in Unity?

[2020-04-30 10:48] rohantipare commented on #8
@cai-mobfish
I did not found a way to make the 'device_param_helper.h' accessible to the utility native file. It fails to build if that file is not included. I am looking for the solution.

[2020-04-30 11:11] cai-mobfish commented on #8
@rohantipare I see. I didn't mean it's not good, it's just a question. It's fine if it works with Build. I'll do some test later today.

[2020-04-30 11:47] cai-mobfish commented on #20
VR View can now be toggled, just press the button to toggle the camera. Implementation includes:

- Property and Event for switching the vr view, in CardboardManager
- UI and logic adjustment.
- Automatically scan camera only when view in vr view mode and device parameter doesn't exist
- Options for camera
- Some refactors.

[2020-04-30 11:47] #20 closed

[2020-04-30 13:44] cai-mobfish commented on #8
@rohantipare I just checked your code and tested, code works. And I have some additional questions:

- I noticed libsdk.a is modified, please post here which file and what code have changed?
- I noticed that set this kind of url parameters also works offline, and the paramater in the url is the base64 text of protocol-buffer-encoded parameter. Is the full url needed?
- If I have a short link like

[2020-04-30 16:12] rohantipare commented on #8
@cai-mobfish
1: 'libsdk.a' - I was trying to expose the 'device_param_helper.h' file in the libsdk.a to make it accessible for the native code, but it didnt work. I will reset it previous version.
2: 'short url' - It should work with short url. I will confirm it. The Failure case needs to be handled in case of connectivity issues.
3: 'cardboard v1' - I will look into it.
4: Invoke("LoadDefaultProf

[2020-05-01 10:31] rohantipare commented on #8
@cai-mobfish
I have pushed the merged branch of 'ParmetersFromURL'
I have tested the short URL, it works.

[2020-05-03 06:10] rohantipare commented on #8
@cai-mobfish
I have found the URL for cardboard v1 parameters.
http://g.co/cardboard

[2020-05-05 07:26] cai-mobfish opened #29 "Documentation about how to build plugin file for iOS from Cardboard SDK"
## Detail

We need documentation, so that when Cardboard SDK is updated, we can make the same changes and build again.

This Documentation is currently for iOS only.

[2020-05-05 07:29] cai-mobfish opened #30 "Proper UI appearance for UI Prefab"
## Detail

Currently, the UI is pure button with text. We need icon so that the default UI Prefab is directly usable.

We need following UI Elements:

- Cardboard icon for switching vr view
- QR code scan icon
- split line at the middle bottom of the screen
- Cancel or back button on top left side

[2020-05-05 08:03] cai-mobfish opened #31 "Split UI logic into abstract UI logic and Unity UI implementation"
## Detail

Currently, Overlay UI is programmed with Unity UI, and it's not customizable. Try to split the logic part from UI, so that other devs can implement his own UI or System with the abstracted code.

[2020-05-05 13:17] cai-mobfish commented on #8
I did some refactor and modification in new branch, and merged into public-dev.

Default cardboard profile will be set when app is initially started. Change profile in script can be done in any time, and will overwrite current profile.

[2020-05-05 13:17] #8 closed

[2020-05-06 12:04] cai-mobfish commented on #26
Unity package is created for scene "CardboardRoom", extracted from branch RenderValidation. It contains related assets extracted from Cardboard SDK, and a unity prefab.

[CardboardRoomUnity.zip](https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/files/4586529/CardboardRoomUnity.zip)

[2020-05-06 13:20] cai-mobfish commented on #26
Scene added, switch scene button added, add an option in prefab script, so that those prefab can be used as singleton.

Also, some refactor is done and debug message on screen is changed.

Graphic API Metal is supported.

[2020-05-06 13:20] #26 closed

[2020-05-06 13:21] cai-mobfish commented on #13
This issue is already done in another ticket.

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/8

[2020-05-06 13:21] #13 closed

[2020-05-06 13:25] cai-mobfish commented on #3
I did a quick test on this, and there are multiple issues with gradle build.

- AndroidManifest merge error
- Theme resource not found

These are probably due to AndroidManifest or resource files in built aar file. Or I built aar file from Cardboard SDK wrong.

[2020-05-06 13:30] cai-mobfish commented on #26
Unitypackage was created from RenderValidation, and uploaded here. This branch is no longer needed.

[2020-05-06 14:40] rohantipare commented on #6
@cai-mobfish
The issue is fixed. Changes are pushed to branch 'deviceOrientation'.

[2020-05-06 15:34] cai-mobfish commented on #6
CACurrentMediaTime is iOS native method. Some other equivalent method in c# or unity is needed here.

On Android, the equivalent is written in util, with some extra calculation.

https://github.com/googlevr/cardboard/blob/master/hellocardboard-android/src/main/jni/util.cc
[code]

[2020-05-07 14:14] cai-mobfish commented on #6
iOS code:

[code]

Android code:

[code]

The goal is to have a monotonic time in nanoseconds.

[2020-05-07 14:49] cai-mobfish commented on #29
https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Build-official-Cardboard-iOS-SDK-for-Unity

Looks good.

[2020-05-07 14:49] #29 closed

[2020-05-07 15:14] cai-mobfish opened #34 "Find a alternative method in c# or android native for the method CACurrentMediaTime() on iOS"
## Detail

This method is iOS only, we need alternative in c# or android native. This issue is important for Android implementation.

Related:

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/6

[2020-05-07 15:15] cai-mobfish commented on #6
Do a refactor, push the branch.

[2020-05-07 16:14] cai-mobfish commented on #6
Done.

[2020-05-07 16:14] #6 closed

[2020-05-08 07:29] cai-mobfish commented on #7
Documented, merged.

[2020-05-08 07:29] #7 closed

[2020-05-08 08:05] cai-mobfish opened #37 "Check if the audio listener setup is correct."
## Detail

This is a multi-camera setup, we need to make sure audio listener is still functional as expected.

## Tasks

- [x] Find a free music or audio, or self record one, add it into demo scene. Possible source: https://freemusicarchive.org/static
- [x] Setup a moving AudioSource, and mark it as spatial. Check if the audio effect is correct.
- [x] Update license, and readme for it.

[2020-05-08 08:10] cai-mobfish opened #38 "Unity Asset Store Release"

[2020-05-08 08:13] cai-mobfish opened #39 "Unity Package Manager (UPM) Release"
Use GitHub itself of self-hosted server to release this package.

There are also other UPM providers.

[2020-05-11 06:48] rohantipare commented on #27
@cai-mobfish
I have implemented the Recenter functionality and pushed on branch 'recenterCamera'
Function: RecenterCamera() in CardboardHeadTracker.cs
Scene: 'demoScene - test recenter'
The demo script recenters the camera every 5 seconds.

[2020-05-13 14:36] cai-mobfish commented on #27
@rohantipare
Thanks for the implementation, this recenter works, but we also need another kind of recenter, that the camera only "recenter horizontally", can you do an extra method for this?

Also, I did a little change in this branch, the DemoScene also contains a button to recenter now. You  can pull this branch before making another changes.

[2020-05-13 15:19] rohantipare commented on #27
Sure, I will implement the recenter horizontal only functionality

[2020-05-14 14:57] cai-mobfish commented on #37
Music is under Public Domain License.

https://freemusicarchive.org/music/Monplaisir/Heat_of_the_Summer/Monplaisir_-_Monplaisir_-_Heat_of_the_Summer_-_11_Estampe_Galactus_Barbare_Epaul_Giraffe_Ennui

AudioSource can't be marked as spatial because it needs proper audio spatializer. But 3D effect in AudioSource is enabled, and the audio effect is correct on iOS.

[2020-05-14 14:57] #37 closed

[2020-05-15 08:12] cai-mobfish commented on #3
My Result so far:

For Build from IntelliJ IDEA/Android Studio (all in sdk folder):

- Change the style to following so that the build from unity won't popup resource merge issue:
[code]
- Change the rest of the resources accordingly, so that they don't reference these style values.
- Remove the `AppName` and `AppTheme` properties in AndroidManifest, so that unity won't popup manifest merge issue.

[2020-05-18 04:56] rohantipare commented on #27
@cai-mobfish I have implemented the Horizontal only recenter. Changes are pushed to branch 'recenterCamera'

[2020-05-19 11:04] cai-mobfish commented on #27
Tested, works.
Did an extra commit to remove unused files.

Merged into public-dev.

[2020-05-19 11:04] #27 closed

[2020-05-19 11:42] cai-mobfish opened #42 "Update native Cardboard library to version 1.1.0"
## Detail

- iOS .a file should be updated.
- Several methods are added or removed.
- Changes made in qr code callback should also be included.

Added:
[code]

Removed:

[code]

[2020-05-20 14:00] cai-mobfish commented on #30
![image](https://user-images.githubusercontent.com/62422880/82455032-c64cce80-9ab2-11ea-8840-616c14fc0869.png)

![image](https://user-images.githubusercontent.com/62422880/82455065-d1076380-9ab2-11ea-90c6-af8a26e4eae5.png)

![image](https://user-images.githubusercontent.com/62422880/82455107-e086ac80-9ab2-11ea-9cbb-22e1d6ce8df0.png)

These will be how it looks like default. Dev teams can modify it

[2020-05-20 14:01] #30 closed

[2020-05-20 15:53] cai-mobfish opened #44 "Add Recenter into CardboardManager class"

[2020-05-26 14:26] #44 closed

[2020-05-26 17:06] rohantipare commented on #42
@cai-mobfish The SDK is updated to v1.1.0. Changes are pushed on branch 'updateSDK'.

[2020-05-27 15:35] cai-mobfish commented on #42
@rohantipare
Can you rebuild this .a file with both armv7 and arm64 support? It has issue about "undefined symbol" when I try to archive this project.

[2020-05-27 15:37] cai-mobfish commented on #42
I added the method `CardboardQrCode_getQrCodeScanCount()`, which could be useful to identify if user has already scanned a cardboard.

[2020-05-27 16:20] rohantipare commented on #42
@cai-mobfish I will look into the archiving issue and see if the function CardboardQrCode_getQrCodeScanCount() can be used to detect qr code scan.

[2020-05-27 16:27] cdytoby commented on #42
@rohantipare
Just check the archiving issue, it's the same issue as https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/12 this one.

CardboardQrCode_getQrCodeScanCount() is now logged after qr code scan now, so it's not necessary to do more here. I'll make another ticket with "set default qr code", which would be the exact same behaviour as the old cardboard.

[2020-05-29 14:34] cai-mobfish commented on #3
After thousands of errors and exceptions, finally get it to a minor working state:

[sdk-debug.zip](https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/files/4702338/sdk-debug.zip)

This is the aar plugin, except of removing `user-feature` tag for openglES2.0, nothing is changed. This is built based on Cardboard Plugin 1.1.0, which has changed a lot since initial version.

Following things must

[2020-05-31 18:58] hawkwood commented on #3
How much of these issues are related to using their library for QR code scanning, and could that be alleviated by switching to use [https://github.com/micjahn/ZXing.Net](https://github.com/micjahn/ZXing.Net) ?

[2020-06-02 06:23] rohantipare commented on #42
@cai-mobfish The archiving issue is fixed. Changes are pushed to branck 'updateSDK'.

[2020-06-02 10:33] cai-mobfish commented on #3
@hawkwood

This shouldn't be much issue using play service for qr code scanning, there are other reasons that I want to prevent using external libraries.

There are a lot of third party assets/plugins using Google Support packages, like facebook SDK and firebase SDK, and they use actual aar files in Plugins folder instead of using dependency in gradle. I had a lot of troubles trying to get them wo

[2020-06-02 11:49] cai-mobfish commented on #42
Tested and merged into public-dev.

[2020-06-02 11:49] #42 closed

[2020-06-05 00:54] daltonbr opened #47 "ArgumentException when constructing RenderTexture"
It's happening in the Editor for Unity **2019.3.15f1** (on Windows / DX11 and OSX / Metal)

Got this Argument Exception in `CardboardMainCamera.cs` when trying to construct that RenderTexture.

[code]

I see that the `graphicsFormat` is set to `None` by default, maybe that wasn't a problem in 2018.4.
I've tried to set a few other formats in there, but couldn't get it to work.

Thanks for this grea

[2020-06-05 01:10] daltonbr commented on #47
Just got it to work with `GraphicsFormat.R8G8B8A8_SRGB`
Don't know if it's the ideal one, although not crashing anymore.

[code]

I looped over all supported textures for RenderTextures

[code]

[2020-06-09 09:34] cai-mobfish commented on #47
In Unity 2018.4, RenderTextureDescriptor doesn't have this property `graphicsFormat`, however, `RenderTexture` has a constructor overload with a graphic format parameter.

And in both Unity 2018 and Unity 2019, `GraphicsFormat` is under experimental namespace.

So there are 2 approches to fix it:

- Use compiler define to saperate the code between unity 2018 and 2019
- Don't use RenderTextureDescr

[2020-06-09 11:50] daltonbr commented on #47
Thanks for the detailed info.
I will just add preprocessor directives then!

[2020-06-09 12:05] cai-mobfish commented on #47
Reopen this ticket, i'm going to do it on my side, it would be an issue when using unity 2019.

[2020-06-09 12:06] cai-mobfish opened #48 "Make an option or method, that set cardboard profile only when camera scan is not performed at all."
This is how the old cardboard performs.

[2020-06-09 12:09] #48 closed

[2020-06-11 13:32] daltonbr opened #51 "Deprecated Building Method in 2019.3+"
At **line 33** in `Cardboard/Editor/CardboardEditorHelper.cs`

[code]

Got this error

My trivial solution was this.
[code]

[2020-06-11 14:08] cai-mobfish commented on #51
Just going to create this issue and found this issue is already created.

2 points here:

- TargetGuidByName should not be used.
- Unity has now an extra targets, called UnityFramework, its bitcode has to be set to no in order to compile successfully. So multiple targets should be used to disable bitcode.

Fix is in testing and is on the way.

[2020-06-11 14:57] #51 closed

[2020-06-11 14:57] #47 closed

[2020-06-11 18:59] daltonbr commented on #51
Very interesting, I was a bit confused by the documentation.
Great job @cai-mobfish! 👏

[2020-06-12 08:02] cai-mobfish commented on #51
@daltonbr You can create a new ticket if documentation is not clear for you.

[2020-06-15 14:43] cai-mobfish opened #53 "When Build for platforms other than iOS with il2cpp, build will fail with exception."
It seems that these codes are compiled which they shouldn't.

Here is a part of the error message.

[code]

[2020-06-16 02:20] daltonbr opened #54 "Wrong orientation in 'No VR' mode"
I am updated with **0.7**

When I am in 'No VR' mode, allowing AutoRotation on all orientations when I rotate my device the screen rotates mirrored to the wrong side. Like if I rotate clockwise, the screen rotates counterclockwise, so from the 4 possible orientations, I got one of them correct.

Even when the Camera is projecting in a wrong rotation (offset 90, -90, or 180 degrees), the camera rot

[2020-06-16 08:29] cai-mobfish commented on #53
Simply change platform in assembly define file (.asmdef) in Cardboard folder will do the trick.

[2020-06-16 08:42] cai-mobfish commented on #54
Orientation is correct on my side, but I do set the "Default Orientation" to "Landscape Left", which is required to use the vr camera. I'm going to update the document.

@daltonbr Can you confirm if it works on your side when app is locked to "Landscape Left"?

AutoRotation should not be used with this SDK. But, it is a nice-to-have feature, that device rotation matches in game camera with all dev

[2020-06-17 12:02] daltonbr commented on #54
Hi @cai-mobfish,

 It worked perfectly when locking in LandscapeLeft, VR and NoVR.

Currently, I am locking the orientation in VR Mode and unlocking in NoVR.

In `CardboardMainCamera.SetupEyeRenderTextureDescription()` I am picking the largest of the `Screen.width` and `Screen.height` to create the `eyeRenderTextureDesc`.

[code]

That solves a small bug when you initialize in Portrait and the tur

[2020-06-17 13:31] daltonbr commented on #54
I manage to hack a way to compensate for the NoVR Camera projection.

[code]

I am not sure if Screen.orientation is reliable in all devices, but in my tests with an iPad and iPhone X, it worked ok.

[2020-06-25 01:25] hawkwood commented on #53
This "fix" broke iOS building for me, and adding iOS to the platforms fixed that, but I did not test Android building.

[2020-06-25 07:01] cai-mobfish commented on #53
I'm terribly sorry, it should be "iOS and Editor" instead of "Android and Editor". Something was wrong with my head when I commit and merge this. I'm going to rollback this, and you can also fix yourself by editing the asmdef file in Unity.

[2020-06-26 09:12] cai-mobfish commented on #3
A fork is created from Google Cardboard.

https://github.com/mobfishgmbh/cardboard

I need proper way to track that much changes from source code.

[2020-06-26 11:40] cai-mobfish commented on #3
https://developer.android.com/about/versions/10/privacy/changes#scoped-storage

https://developer.android.com/training/data-storage/app-specific#java

https://developer.android.com/training/data-storage/shared/documents-files

About storage

[2020-06-26 13:10] RajatPatel5 opened #57 "Bad Display Quality in VR Mode"
I have downloaded the project and used it. It works quite well and the camera transition between the VR and non-VR mode is smooth. But the main issue is with VR Mode in which the quality of the video is so poor.
When I first used the plugin I needed to increase the far clip plane of the camera so I did in the lens distortion script and got the result. However, I am not able to find such things tha

[2020-06-28 10:31] cai-mobfish commented on #57
@RajatPatel5

Can you provide more information about what exactly does "Bad Quality" "Video" means?

[2020-06-28 11:15] cdytoby commented on #3
- Merged into public-dev.
- Document Updated.
- A fork is created from Google Cardboard.
- QR Code scan issue is fixed for android.
- `getExternalStorageDirectory` issue is resolved.
- Target SDK is API 29 and External(SDCard) write permission is no longer needed.
- Cardboard Profile is now NOT shareable, each app will have its own cardboard profile data.

[2020-06-29 06:14] RajatPatel5 commented on #57
Hello @cai-mobfish I am sharing with you the two different images for VR and non-vr mode. Here you can see how the image is pixelated when it is in VR mode.
![non-vr Mode](https://user-images.githubusercontent.com/50140527/85979252-be5f4300-b9fd-11ea-9bf3-9bfbd50bac86.png)
![vr mode](https://user-images.githubusercontent.com/50140527/85979277-c8814180-b9fd-11ea-881f-5b4b884962f0.png)

Please look

[2020-06-29 12:51] cai-mobfish commented on #57
That is strange. I can't reproduce it.

- Can you test it on device and check if it works on device?
- On which camera did you change the "far clip plane"? you shouldn't change the far clip in script because it is used in "CamPost" camera and it only renders eye image mesh and nothing else.
- What did you change in "lens distortion script"?

[2020-06-30 04:48] RajatPatel5 commented on #57
- I have tested the App on iPhone Xr and I have found the same issue in the device as well. It was not too much blur as it looks into the screenshot I have shared but it is still an issue in the device.

- Now I have tried to change the far clip plane in all the 3 cameras for VR mode but I could found the result so I started looking into the scripts and inside CardboardLensDistortion.cs I changed

[2020-06-30 16:09] cai-mobfish commented on #57
First of all:

There are 3 cameras, one for left eye, one for right eye, and another for Screen (CamPost). I don't know why you need to change the far clip, but if you really need to change it, do it after where `CardboardLensDistortion_getProjectionMatrix` this method is called, if you want to override the far clip provided from cardboard profile. And you should not change "CamPost" camera becaus

[2020-07-03 05:55] hawkwood opened #59 "Conditional stops editor from working"
This line:

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/blob/2b1afbde9f192e34929414435f805c1d81d4905e/Assets/Cardboard/Scripts/CardboardManager.cs#L140

should be:

            if (par.Item2 > 0 || Application.isEditor)

[2020-07-03 07:23] RajatPatel5 commented on #57
@cai-mobfish We have tried this plugin in different places. I first tried the same project which is in this repo and the quality is very smooth. I have created an empty project and there as well it looks smooth. But when using this in my existing plugin we are having quality issues.  Just want to know if such issues can be due to heavy or large environment rendering? It is possible that due to any

[2020-07-05 10:33] cai-mobfish commented on #59
Thanks, I just released a new version with this fix.

[2020-07-05 10:33] #59 closed

[2020-07-05 10:34] cai-mobfish commented on #3
Merged to master and released.

[2020-07-05 10:34] #3 closed

[2020-07-05 10:35] cai-mobfish commented on #53
Fixed through android support.

[2020-07-05 10:35] #53 closed

[2020-07-05 10:36] cai-mobfish commented on #34
Android seems can work without this method, but somehow the camera movement is not "fluent". Don't know if this is related.

[2020-07-05 10:42] cai-mobfish opened #61 "Android: Camera movement is not fluent."
## Description:

The camera moves like it's "laggy". It could be due to 2 reasons:
- Performance on my smartphone is bad, or something here is bad optimized (low framerate)
- The camera movement implementation is wrong due to "monotonic time"

[2020-07-06 00:56] #11 closed

[2020-07-06 07:51] cdytoby commented on #57
@RajatPatel5

About camera far clip, you can change it in script `CardboardMainCamera.cs`. In method `RefreshCamera_Eye`, you can change the camera far clip after `eyeCam.projectionMatrix` is changed.

About the rendering issue, I still can't reproduce the issue. I tested it with further far clip, and it doesn't produce blurry texture and mesh.

Can you try enable mipmap for these texture, and che

[2020-07-07 18:38] hawkwood commented on #61
Has Unity's own gyro implementation been tried on device, as a replacement for using the native libraries?
https://docs.unity3d.com/ScriptReference/Gyroscope.html

[2020-07-09 11:18] Handicap opened #63 "Scriptable render pipeline support"
Thanks for the great plugin while the main cardboard plugin project has features still in development (mainly GLES3/Vulkan/Metal support)!

I tested the plugin with different setups and with scriptable rendering pipeline in use, there is no call for OnPostRender() function. This means that the plugin doesn't work out-of-the-box with SRP. This is however was easy to remedy by modifying the followin

[2020-07-09 12:43] robibkuiper commented on #57
I'm having exactly the same issue. Could have anything to do with CardboardMainCamera being initialized during a portrait resolution so it takes half of the screen width during portrait resolution?

I tested this on Android on a "clean" project by starting the project in portrait mode. When switching to VR mode i change the oriention to landscape and call CardboardManager.RefreshParameters() short

[2020-07-09 14:25] RajatPatel5 commented on #57
@cai-mobfish
I tried the way you said to change the far clip plane. Here is the sample I tried
[code]
But I am not getting the expected result when testing in ios. Did you change something else?
Can you please provide your CardboardMainCamera script for reference.

Also, for the quality issue I already said that on a new project I am getting proper quality but when I use it in my project it does n

[2020-07-09 17:28] hawkwood commented on #63
Here is from my fork which automatically checks if SRP is used.

https://github.com/hawkwood/Cardboard-VR-Unity-SDK/blob/public_dev/Assets/Cardboard/Scripts/Behaviours/CardboardPostCamera.cs

[2020-07-12 12:45] cdytoby commented on #57
@RajatPatel5 Sorry for the late response, and sorry that I posted a solution without a test.

Regards to the far clip plane, it seems that after projection matrix is set, change camera property will not modify anything. I don't have a solution yet because I failed to find a way to get the "perspective" parameters from a exist matrix. The correct solution should be, mofidy the `projectionMat` in me

[2020-07-15 07:30] robibkuiper commented on #57
The quality is like expected when i flip the screen.width en screen.height in  CardboardMainCamera.SetupEyeRenderTextureDescription(). I also flipped them in CardboardLensDistortion.CreateLensDistortion() to make sure the carboard view also matches the correct resolution.

I guess a simple if statement checking Screen.orientation should be an east fix to make it more flexible.

[2020-07-18 10:26] cdytoby commented on #61
Turns out it's just pure framerate issue. targetFramerate should set to 60 on Android too.

Information in my head was old.

[2020-07-18 10:28] #61 closed

[2020-07-18 10:30] cdytoby commented on #34
The other ticket is resolved. And it seems CACurrentMediaTime() alternative for Android is not very necessary needed.

Remove Milestone, but keep the ticket.

[2020-07-18 12:40] cdytoby commented on #63
Note for me, android ndk:

https://forum.unity.com/threads/android-ndk-missing.689122/

[2020-07-18 13:26] cdytoby commented on #63
@hawkwood Thank you for the code

@Handicap I merged it to branch `public_dev`, you can check it out and give me feedback if it works for you.

[2020-07-18 14:09] cdytoby commented on #63
Forget about the branch. I just released a new pre-release version, you can use the unitypackage to test if it works.

[2020-07-18 23:43] cdytoby commented on #57
@RajatPatel5 @robibkuiper I made a quick fix and here is the unitypackage.

Change is based on 0.8.1 and not yet merged, can you test if the screen quality issue still persists?

[mobfishCardboard-issue-057.zip](https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/files/4942896/mobfishCardboard-issue-057.zip)

Detail change is in the branch `issue-rot_change_quality`. There should be a better fix

[2020-08-08 09:49] cdytoby commented on #63
I released Version 1.0 and URP is supported.

I'm going to close this ticket. If issue still persists, you can reopen this ticket, or create a new one.

[2020-08-08 09:49] #63 closed

[2020-08-08 09:50] cdytoby commented on #57
I released Version 1.0 and I'm closing this ticket.

If issue still persists, you can reopen this ticket, or create a new one.

[2020-08-08 09:50] #57 closed

[2020-08-15 03:38] xiesi88 opened #68 "Thank you very much for your contribution"
I am developing a set of children's popular science content based on mobile VR, and I need a stable Cardboard SDK. Thank you very much for your contribution, and hope to continue to optimize and improve.

[2020-08-17 07:23] cai-mobfish commented on #68
Thanks, this means a lot to us. Feel free to create ticket if any issue occurs.

[2020-08-17 07:23] #68 closed

[2020-08-23 17:02] CedoSnr opened #69 "Wrong perspective and frame drops while in VR mode"
Hi,

First, I wanted to say thanks for making this plugin. From what I've seen of it so far, it looks really good - in a lot of ways much better than the official Google one.

However, I have a couple of issues:

Issue 1:  Perspective is way off in VR mode compared to Magic Window Mode. Below are screenshots of my application (from the same point) in both modes:

https://imgur.com/0OW6T2C
https://

[2020-08-24 13:39] whizzkid opened #70 "lag"
Hello,

Is there a way to change the filter used to smooth the camera?  compared to the old googleVR this one is laggier. (move your head quickly and stop.. and you see the camera catching up/smoothing to a halt  a few frames later.)
I'm getting 60fps, but in the 2 demo scenes and in my own testscene (which has 1 unlit cube. all quality is set to low, no lighting) the lag is a few frames more than

[2020-09-01 15:54] cai-mobfish commented on #70
Well, first of all, yes, this plugin is a laggier one than the previous native Google Plugin, because eye texture goes into unity rendering cycles instead of camera directly, and renders everything as a "post process". It is very noticable on older phones, but on newer phones it is way better.

Regards to the "Filter", there are no filter applied directly in this SDK, but there is some kind of "Fi

[2020-09-01 16:03] cai-mobfish commented on #69
Thank you for the kind words, and sorry for the late response. It's been very very busy lately.

Regards to the performance, there is another ticket who mentioned this, I already answered there, and marked as "Help Wanted".

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/70

As for the Perspective issue, this is a very odd one. You mentioned that you use shader graph with camera node

[2020-09-11 14:52] bbiaudet opened #71 "Build in Xcode 11 error"
Hello, I cannot compile from xcode 11, I have an error Libraries / Cardboard / Plugins / iOS / libsdk.a (message_lite.o) 'does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture arm64.

[2020-09-11 17:03] cdytoby commented on #71
Hello,

In this wiki page, https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Usage In the "Pre/Post Builds" section, it describes how this can be solved.

[2020-09-11 18:27] bbiaudet commented on #71
thanks, I had read the wiki, but my Unity project has another library that needs bitcode. On the other hand Apple asks for the bitcode for new publication

[2020-09-11 20:48] cdytoby commented on #71
@bbiaudet Can you provide a link about bitcode requirement? In my current knowledge it's not required to publish an app.

It's unfortunate that bitcode is required with another library. But I currently don't have any solution about how to enable them. I'll mark this help wanted.

[2020-09-11 20:53] cdytoby commented on #71
Note:

https://github.com/mobfishgmbh/cardboard

This is a fork from official cardboard which is used here. Code change should happen in there.

[2020-09-14 11:16] CedoSnr commented on #69
Thanks for your reply.

Apologies also for the slow reply - this is only a side project for me and I don't get to spend as much time on it as I'd like.

I thought your reasoning sounded good, so I tried swapping out the shader graph material for a standard material using only an opaque colour and a normal map.

I still get the same problems of perspective with this, so I don't think it can be only

[2020-09-18 09:36] jnroesch opened #72 "Unity XR-Plugin Support"
Hey there,
I wanted to ask if you plan on supporting the new Unity XR Plugin Framework added in Unity 2019.3.

As far as I know the current implementation basically moves all rendering into the frontend/UI and does not rely on any VR functionality at all. Unity basically doesn't even recognize it is in VR mode. To my understanding this is also the reason for the performance issues stated in other

[2020-09-18 17:36] cdytoby commented on #72
@jnroesch Thanks for the message.

This project is currently not in active development, if there are bug report I'll look into it, but further feature development will not be done, at least for now. Unity XR package is exactly what google is doing right now, and there is no plan on supporting it on our side.

The purpose this project, is to offer a possibility to get Cardboard working with basic r

[2020-09-25 21:16] julien-tamade opened #73 "How to handle the multiple cameras for the Camera Prefab"
Hey, I know you're not continuing to update this with new features, but I had a question regarding usage. Given that this camera rig has a separate camera for each eye, how should I approach raycasting and also post processing. I'm going to set up a reticle pointer and wanted to know the best way to do that. Also I previously used an amplify color script on the main camera for some post-processing

[2020-09-26 13:52] cdytoby commented on #73
You're welcome to ask questions.

About raycasting, I don't recommand using a camera to do a raycasting, but I think it's Unity UI's requirement to use a camera, so what I did before, is to create a camera with a -100 depth and disable all its rendering mask, so that this camera doesn't get rendered on screen and will still have camera raycast. There may be other solutions.

About PostProcessing,

[2020-09-26 17:45] julien-tamade commented on #73
Thanks for the response! In your internal use, did you ever implement a reticle pointer? It's crazy the GVR people haven't gotten around to that yet so I was curious if you had done an alternative successfully?

[2020-09-26 18:20] cdytoby commented on #73
I did an alternative successfully, but it was a long time ago, I don't have the code right now, because when I realize this is extremetly hard to get the setup right or debug, and I changed the structure of the "gaze system".

Right now in our main project, everything that's interactive has collider, and use Physics Raycast to do the raycast, and implement my own "input reaction". If it's for UI,

[2020-09-27 14:32] julien-tamade commented on #73
got it! I ended up getting something working using this guys git repo https://medium.com/@linojon/an-xr-cardboard-interactor-for-unity-eec6270be2e9 and reusing the old GVRReticlePointer script and manually sending Pointer Enter and Pointer Exit calls. Works well enough. Decided to create a singleton of the GVRReticlePointer so I can just call wherever needed.

On a side note, you mention that ther

[2020-09-27 15:08] cdytoby commented on #73
About Metal Support, well I didn't do it particularly, because everything I did to the cardboard stereo (VR) view, are achieved without any platform specific feature, or graphic API specific features. As long as these codes works in Unity, and Unity don't have specific issues on specific graphic API, they should work with any graphic api.

What Google in their official Unity SDK did, is to render

[2020-09-27 16:43] julien-tamade commented on #73
@cdytoby really appreciate your responsiveness. iOS14 ruined the VR integration in my app and i'm trying to get a fix as fast as possible cus we have Users unable to use the VR.

The dark terrain happens when I switch to VR view. I realized it's not actually dark, it's just making everything the fog color. I
can still see some gameobjects or other things.

Another issue I'm experiencing is that th

[2020-09-27 18:15] cdytoby commented on #73
About the clipping issue, there is already multiple users reporting this, but I couldn't get a solution properly for now.
Tickets are:
https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/69
https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/57

One of them is already closed because the ticket is not really about the clipping. Another ticket has a potencial fix posted by author,

[2020-10-04 12:07] irgipaulius opened #74 "Error: resource style/Theme.AppCompat.NoActionBar not found"
I created a fresh new 3D project on Unity, imported the `mobfishCardboard-1.0-Release-2020-0808.unitypackage` asset (Release 1.0), delete default camera, drag prefabs (CardboardCamera and CardboardUIOverlay) to the scene, hit build (for android) and gradle build fails with:

[code]

I tested on Unity versions: `2020.1.7f1`, `2019.4.1f1`, `2019.4.0f1`, `2019.3.15f1`. All of them throw the same thin

[2020-10-04 12:11] andrewspalato commented on #74
Had the exact same issue!

Try the following:

[https://developers.google.com/cardboard/develop/unity/quickstart](url)

Specifically adding the following to your custom Main Gradle Template in the dependencies section:

 implementation 'com.android.support:appcompat-v7:28.0.0'
 implementation 'com.android.support:support-v4:28.0.0'
 implementation 'com.google.android.gms:play-services-vision:15.0.

[2020-10-04 12:13] #74 closed

[2020-10-04 21:49] irgipaulius opened #75 ""_gvr_set_default_viewer_profile" undefined symbols for architecture arm64"
Hi.
So as you may know, iOS 14 fucked all GVR apps. yay.
I refuse using Cardboard XR because it does not provide all the functionality that my old GVR implementation had, so I found this repo and heard it supports Metal. I hope this will work on iOS 14 devices.

So I finished refactoring my app in a record-breaking 14 hours, and now when I archive xCode project, I'm faced with this:
[code]

I trie

[2020-10-08 10:15] 3vilrabbit commented on #74
Hello everyone, I had the same issue and tried adding the dependencies in the implementation section but the I started having another bunch of errors. Any idea on how to fix it? I had the same on both Unity 2018.4.11f1 and 2019.4.25f1.

Thanks!
Antonio

[code]

[2020-10-08 10:23] 3vilrabbit opened #76 "Duplicate class android.support.*** found in modules android-support-v4.jar"
Hello everyone,
the issue I am having is related to the already closed one: **Error: resource style/Theme.AppCompat.NoActionBar not found.**
I tried the solution proposed, which is to add some dependencies in the implementation section of the gradle template, I did it but then I started having another bunch of errors (I pasted down here). Any idea on how to fix it? I had the same on both Unity 201

[2020-10-08 10:59] andrewspalato commented on #76
Search those files in your project and delete them as they are already included somewhere in your gradle.

[2020-10-08 11:34] irgipaulius commented on #74
These errors are slightly familiar to me but can't remember where exactly..... Here would be my debugging:
 - Have you ever downgraded the unity version for the project? if yes, then research how to downgrade dependencies manually too.
 - backup, delete scenes, and start removing packages one by one (except cardboard SDK) until the error is gone - this way you will find the culprit module that con

[2020-10-08 12:52] AntonioStissi commented on #76
Thank you, it worked! I guess it was imported before by some other plugin.

[2020-10-09 08:31] cdytoby commented on #75
Hello, sorry for the late response, I don't have a device with iOS 14 installed so I cannot test on this system, however, I tested Unity 2020.1.7 with this project, exported to xcode project on MacOS Catalina, and open with newest xcode I can get, deployed to an iOS 12 device, and it works, with a change that I need to add to the documentation.

Now to the issue you mentioned:

- The error log you

[2020-10-09 08:37] cdytoby commented on #76
You can check this wiki page for the detail:

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Usage

In the section "Additional Settings for Android", there is a note:
"If you already have related compiled aar or jar files, add or remove these lines accordingly. It might have some conflict."

I'm glad you solved this issue, you can reopen this ticket or create a new one if this issue st

[2020-10-09 08:37] #76 closed

[2020-10-09 09:24] irgipaulius commented on #75
Thanks for the answer.
- I am using both libraries. mobfish for VR stuff, and gvr for GvrCardboardReticle as well as GvrEventSystem to interact with buttons. Refactoring this part would be a huge timesink for me, especially the EventTrigger system my project is built on...
  - you mentioned deleting project settings... well I created a fresh new project and added both libraries, established a basi

[2020-10-09 09:45] cdytoby commented on #75
About the issue, as long as the legacy google cardboard package is included, this issue will happen, and I don't think they're related to this current cardboard package.

And I feel your pain, large refactor requirement also happens to many other people including me. But this is a really common among programming world. Google and Apple rapidly changing their programs and SDKs, even Unity changes i

[2020-10-09 09:45] #75 closed

[2020-10-09 18:57] hawkwood commented on #75
I see this is closed, but I wanted to throw out an idea.  If memory serves, the GvrCardboardReticle and GvrEventSystem are Unity scripts and independent from the native portions of the Cardboard SDK. With little script work, you should be able keep those and still remove the native portions.

[2020-10-13 14:45] AlyAmeen opened #77 "EXC_BAD_ACCESS when using the sdk with firebase"
Hello,

I have encountered an issue trying to use the plugin with Unity 2018.4.10, the issue is the plugin runs if I add it to an empty project, but when I add it to my project that has firebase with it and build it for IOS, XCode gives the following error :

EXC_BAD_ACCESS at #0	0x0000000105a5b660 in google::protobuf::internal::(anonymous namespace)::InitSCC_DFS(google::protobuf::internal::SCCInf

[2020-10-13 21:24] cdytoby commented on #77
This is a hard one to debug, and I need more information to identify the issue.

1. When does this happen? During compile or during runtime? Does this happen before the app starts or after your splash screen shows up?
2. Can you post the full stacktrace here? I believe there is more to this than the single "at line".
3. Have you tried not to initialize your Firebase? would that work?

[2020-10-19 08:48] FenrirGameStudio opened #78 "AndroidJavaException: java.lang.NoSuchMethodError: no static method with name='setNewFileParent'"
Hey Guys,

First of all thank you for the amazing work you've done, we managed to get our applications running on iOS in a very short amount of time, thanks to your work.
However, on Android we've been having quite a few issues, most have been solvable, but currently we're facing the error seen below. Do you guys have any idea if this is coming from the protocol buffers, your solution or maybe a 3

[2020-10-19 12:05] cdytoby commented on #78
The file `CardboardQrCode.cs` is using this string `setNewFileParent` to access native android method, the c# method is called `SetAndroidQRCodeLocation()` in the same class and file.

`NoSuchMethodError` usually means the corresponding aar file is not included. Can you confirm that the sdk-debug.aar file in path `Assets/Cardboard/Plugins/Android` exist, and Android platform is selected in import

[2020-10-19 19:04] FenrirGameStudio commented on #78
Hey @cdytoby
Thank you for getting back to me so quickly, I can indeed confirm that the sdk-debug.aar file is there and that the Android platform is selected in the import settings : )

But if I'm not mistaken, the error I'm encountering is caused by the QR scanning, in which case I should be able to solve my specific issue by excluding the QR scanning completely as I only need the VR part or am I

[2020-10-20 06:04] cdytoby commented on #78
Well the whole native android things are packed together in this package, if it has issue with qr code scan then you'll probably encounter more issues elsewhere.

Can you confirm you're using this aar file exactly from this package instead of other source? Because I added this method myself in a branch of official sdk for some purposes. You can try override the file by copy this aar file from this

[2020-10-21 18:21] AerinFloreo opened #79 "Unity Fog breaks VR View on Iphone 8 & Iphone 7"
Any scene that has fog is visually broken in the VR View on Iphone8 and Iphone7 (those are the two devices we have tested, anyway.) We have tested with Iphone 8+ and higher and it displays correctly on those generations of devices.

How it looks:
![IMG_0001 2](https://user-images.githubusercontent.com/41923413/96761976-44d1d300-13a7-11eb-83d5-19e2a93ac259.PNG)

How it SHOULD look
<img width="756"

[2020-10-30 12:47] JChudinov opened #80 "Clipping far distance objects"
Hi! We using ur SDK in our app, where we have a couple of far distance objects. The matter is that in editor everyting works fine, yet on mobile devices (we tested samsung s7, s8, poco f1) objects placed further then ~110 units are invisible. It looks like a wrong value of clipping planes, but changing this value brought us no luck.

On this screens we have a brand new project with your SDK. Right

[2020-10-30 15:03] JChudinov commented on #80
we found solution here

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/69

[2020-11-04 08:59] imkrystal opened #81 "Import "mobfishCardboard-1.0-Release-2020-0808.unitypackage" error"
Hi mobifish!

Thank you for your amazing package. When I run in iOS 14, it worked!!!
But when I create a new project => import "mobfishCardboard-1.0-Release-2020-0808.unitypackage", it's seem that error (see image i have attach).

<img width="643" alt="Screen Shot 2020-11-04 at 15 57 25" src="https://user-images.githubusercontent.com/46667579/98090325-745c0180-1eb6-11eb-8dba-8f35ed9018b1.png">

Ho

[2020-11-04 11:36] cdytoby commented on #79
Sorry for the late response. I investigated it and fog is an issue on iOS, there are other users reporting this but failed to find a solution.

I can reproduce this issue on iOS but not Android.

Currently I'm not able to find a solution. While continue searching the cause, I need help with this.

[2020-11-04 11:38] cdytoby commented on #81
Thiss error message indicates that there are multiple "Protocol Buffer" dlls imported in this project. You should delete one of them. Either the dll from this plugin, or other plugins.

[2020-11-04 15:16] AerinFloreo commented on #79
We successfully worked around it by turning the Left and Right camera into Physical Cameras (in the Camera Component). We also had to comment out this in RefreshCamera() since it overwrites the Camera settings:
[code]

Why did this work? No clue! But we have 0 visual errors now.
(Other than the fog, we had strange problems that "looked like" Occlusion Culling and Clipping Plane issues, but they we

[2020-11-04 15:52] cdytoby commented on #79
`RefreshCamera_Eye` do refresh camera but it's also needed for correct cardboard eye position and projection matrix. I'll look into it if that works for you.

I also did a bug report on Unity, let's see what solution they can offer.

https://fogbugz.unity3d.com/default.asp?1290193_83aaleb4emcccfsd

[2020-11-04 16:03] cdytoby commented on #80
Thank you for the report and note.

I made a mistake on this one. Reopen this ticket for me:

Make variable for nearClip and farClip so that people can set it dynamically.

In Method `CardboardLensDistortion.RefreshProjectionMatrix()`, the near and far clip are not variable, which is not good.

[2020-11-05 03:23] imkrystal commented on #81
Hi @cdytoby
Thank you for your answer.
I check and see that I have 2 "Protobuf".

In your plugin:
<img width="314" alt="Screen Shot 2020-11-05 at 10 20 39" src="https://user-images.githubusercontent.com/46667579/98193791-92764000-1f50-11eb-8a78-9ca977af09fd.png">

Another in GoogleARCore:
<img width="295" alt="Screen Shot 2020-11-05 at 10 21 17" src="https://user-images.githubusercontent.com/46667

[2020-11-05 07:39] cdytoby commented on #81
Yes, make a backup and try it.

[2020-11-05 13:46] imkrystal commented on #81
Delete "Protobuf" in your project it make error in Script so I deleted and backup "Protobuf" in GoogleARCore. I hope that nothing happen with me but I have a question:
- Can I use your Cardboard and ARKit, ARCore together? (Because I see that: OpenGL ES 3.0 and Metal(iOS) and Vulkan(Android) Support (as well as OpenGL ES 2.0)).
- It will work with Android devices?

[2020-11-05 14:03] cdytoby commented on #81
I've never used ARKit or ARCore before so I don't really know. All I know is this plugin works for both iOS and Android. And there are some users already successfully implemented it with AR so I believe it's suppose to work with other plugins.

You can just try it yourself, this plugin don't gave people limitation, and all the source codes are here.

BTW, it's weird that delete Protobuf in this pr

[2020-11-05 21:59] rajandeepsingh13 opened #83 "iOS: Missing UI on QR code scan screen"
Some of the UI elements are missing on iOS on the QR code screen. As you can see in the screenshot, the tiny QR code icon, a bit of text, as well the alignment square on top of the camera feed is missing. This is on an iPhone SE 2020.

![image](https://user-images.githubusercontent.com/32610322/98300227-fe06ee80-1fde-11eb-9f33-98362c4e2dea.png)

Here is what the same screen looks like on Android:

[2020-11-06 00:51] AerinFloreo commented on #79
Thank you, I appreciate it! We are doing OK on our end with the "hack" we came up with, but a more legitimate solution would be great too 😂

[2020-11-06 01:26] imkrystal commented on #81
Thank you for your answer. I will try this.
"This is an unofficial Google Cardboard Unity SDK, implemented from new Google Cardboard open source project."
=> new Google Cardboard, you mean that is Google Cardboard XR Plugin right?

[2020-11-06 08:05] cdytoby commented on #81
Yes, and no.

The new Google Cardboard SDK includes a Base SDK in C++, with a native Android and native iOS plugin. Unity Plugin is based on these native plugins, which also includes Subsystem for XR Plugin Management from Unity.

This repository uses the native Android and iOS plugin part, and doesn't use XR Plugin Management from Unity. Instead, it uses an old solution, which the first version o

[2020-11-06 10:07] imkrystal commented on #81
Thank you for your answer.

I hope that you plugin will have more functions, more optimizations, ... for a next release.
Again. Thank you so much for amazing plugin.
Maybe I will close this topic, if I have something need to know, I will open this topic again.

Best Regards!

[2020-11-06 13:55] Dankann commented on #77
@cdytoby Also happening here.
Using Unity 2018.4.15f1 with firebase in the project.

The error happens when trying to open the app, it throws this error and doesn't open
![image](https://user-images.githubusercontent.com/19196970/98373543-26faa400-201e-11eb-86d0-1ba716f10e3e.png)

This is all there is in the logs.

I haven't tried without firebase in the project.

[2020-11-09 06:28] imkrystal opened #84 "[Android] - Run VR scene error and crashed"
Hi Team.

In iOS, it's seem OK, but in Android (Galaxy S9), when I run VR Scene it became error:

![Screenshot_20201109-131804_FOD_VR 1](https://user-images.githubusercontent.com/46667579/98506505-3e3fc880-228e-11eb-9ebc-cd3e6668eff8.jpg)

When I press QR code, app will be crashed. Here is my error log:

![image](https://user-images.githubusercontent.com/46667579/98506965-36ccef00-228f-11eb-8eb3-a

[2020-11-11 02:53] imkrystal commented on #74
I fixed error that download "appcompat-v7" and put in Plugins/Android. Build and then error is gone.
But when run VR Scene in Android (GalaxyS9) I have some error like this:
![image](https://user-images.githubusercontent.com/46667579/98759393-951ade80-2403-11eb-8d02-0c16e2c4b325.png)

Did you see error like that?

[2020-11-11 03:38] imkrystal commented on #84
Hi @cai-mobfish @cdytoby
Can you help me resolve this problem?
Thank you so much.

[2020-11-11 03:52] #81 closed

[2020-11-11 08:11] cdytoby commented on #84
Hello, sorry for the late response, it's been busy so I'm not able to respond to the tickets quickly.

To this question, it's because the protocol buffer for android implementation is not included.

You should create custom gradle file for android build, and include some android packages.

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Usage
Detail can be found here, in the section "Ad

[2020-11-11 08:17] cdytoby commented on #83
Hello, sorry for the late response, it's been busy so I'm not able to respond to the tickets quickly.

Does this affect the camera functionality? The android and iOS ui are implemented differently and they're a part of base cardboard sdk from official repository.

Unless there is a bug, I won't fix it.

If it really affects your project:

https://github.com/mobfishgmbh/cardboard

This is the base

[2020-11-11 08:19] cdytoby commented on #74
If you still have issue,

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Usage

Please check out this wiki page. In the section "Additional Settings for Android", additional steps are mentioned.

[2020-11-11 08:23] cdytoby commented on #77
While trying it out myself, I'll mark it as help wanted.

[2020-11-11 09:46] imkrystal commented on #84
Yeah. I check "https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Usage" and finally I fixed my problem.
Cause: I put everything your plugin folder in another folder and when I run VR mode, maybe it not file classes.
Now, I tested on GalaxyS9 and now it worked!!!
Maybe I will close this issue ;)
Thank you so much.
Best Regards!

[2020-11-11 10:12] imkrystal opened #85 "[Android] - Remove Cardboard/Plugins/GoogleProtoBuf.dll error script CardboardDevice.cs"
Hi mobfish VR STUDIO.

In "https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/wiki/Usage" and have this line: _**"If you already uses Google's protocol buffer in your project, you can remove Cardboard/Plugins/GoogleProtoBuf.dll, because a conflict may exist when two same dll exists."**

When I remove **"Cardboard/Plugins/GoogleProtoBuf.dll"**, script CardboardDevice.cs will be error.
![image](h

[2020-11-11 14:57] cdytoby commented on #77
@Dankann @AlyAmeen

Which firebase packages did you use? there are many of them.

![image](https://user-images.githubusercontent.com/15671368/98826918-91547f80-2436-11eb-9d55-2407b7c712b6.png)

[2020-11-11 15:14] cdytoby commented on #85
It seems that the Protocol Buffer in Google AR Core Unity Package is using a different version of Protocol Buffer, that doesn't contain some of the methods.

Protocol Buffer documentation:

 https://developers.google.com/protocol-buffers/docs/proto3#options

The "option optimize_for" may be the culprit. Investigate, and recompile proto file to c#.

[2020-11-16 07:02] #84 closed

[2020-11-16 07:04] imkrystal commented on #85
Thank you for your answer.

I' m sorry for the late response. Do you know how can I check version of Protocol Buffer?

[2020-11-17 08:22] cdytoby commented on #77
Note for me: https://firebase.google.com/docs/unity/setup#add-sdks-upm

Firebase has unity package manager support.

[2020-11-17 09:17] cdytoby commented on #85
Both our Protocol Buffer dll and the one from AR Core don't have version in their dlls.

https://www.nuget.org/packages/Google.Protobuf/

Official Protocol Buffer can be retrieved from this nuget package.

Max version that is useable is 3.12.4 with the .Net Standard 1.0 variant, this is the latest one which doesn't have issue.

Any version above has reference to System.Memory which requires extra

[2020-11-17 15:02] MSachs1 opened #87 "Importing gives an error"
I get these two error messages when trying to import the package through the package manager in Unity.

"Cannot perform upm operation: Unable to add package [https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK.git]: [https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK.git] does not point to a valid package repository. No package manifest was found. Verify the repository URL and make sure the p

[2020-11-18 09:31] imkrystal commented on #87
You can download "file.unitypackage" (link below) and import this package in Unity Project.
https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/releases

[2020-11-18 14:36] MSachs1 commented on #87
Thanks a lot!

[2020-11-19 16:40] cdytoby commented on #87
This package can't be used by unity package manager, you have to import it manually.

[2020-11-19 16:40] #87 closed

[2020-11-25 13:12] FenrirGameStudio commented on #78
Sorry I never got back to you.
After struggling with getting it to work, we changed our pipeline a bit and we're now running your solution for IPhone and another for Android
Not exactly optimal, but that's how it goes : D
Thank you for providing your solution : )

[2020-12-07 03:22] kaaaana opened #90 "Could I use an additional camera in VR mode?"
Thank you very much for the amazing SDK.
I want to use an additional camera in VR mode for UI objects because I have to use the image effects except UIs.
Is that possible?

[2020-12-07 10:05] TassiDK opened #91 "No resizing of stereo view for iPhone 12 Pro"
When building for iOS, the stereo view works as intended, except when running it on an iPhone 12 Pro.
The two images render correctly, but only take up approximately half of the screen size, without ever resizing.
Is there a place in any of the scripts where support for the newest iPhones can be added?

[2020-12-10 15:50] andyz opened #92 "Xcode linker errors"
Sorry if I missed something obvious but I can not build in 2019 LTS & Xcode for iOS as I get many linker errors as below. What is the issue?

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_CardboardDeviceParamsHelper", referenced from:
      objc-class-ref in CustomLibrary.o
  "_CardboardQrCode_getCardboardV1DeviceParams", referenced from:
      _CardboardQrCode_CardboardQrCode_getCard

[2020-12-10 16:22] #92 closed

[2020-12-10 16:23] andypoly commented on #92
Damn SVN source control and its default ignore on *.a files!! all good

[2020-12-10 16:52] andypoly commented on #83
I have just got the same issue - it is kind of a breaking bug for iOS as the screen does not make much sense

Are most cardboard devices by any chance just following the one Google 2015 setup (particularly card not plastic devices?)

[2020-12-11 09:28] imkrystal commented on #85
Thank you for your answer.

I' m sorry for the late response.

Currently, I'm using 3.12.4 as you said. No error code and build without error.

Thank you so much. Maybe I will close this topic.

**_Thanks & Best Regards,_**

[2020-12-15 08:40] andypoly commented on #91
Yeah see this also, I think Unity reports the wrong dpi for iPhone 12s.
Presumably the cardboard elements will not take all the screen on an iPhone Max but if it is wrong size for carboard lenses it is a breaking issue

[2020-12-22 10:57] rajandeepsingh13 commented on #91
Yeah I see this too on an iPhone 12

[2020-12-23 00:04] AerinFloreo commented on #91
We are also having this issue, Iphone 12 Max. Using Unity 2019.4.11f

[2020-12-28 06:45] #85 closed

[2021-01-04 12:14] cdytoby opened #93 "Statement from Developer, 2021.01.04"
Hello Everyone,

First I want to say sorry to all the developers who keep an eye on this repository in the last few months. I can't post comments or updates in the last month because of multiple reasons, and currently it's very difficult for me to keep tracking the issues, not to mention fixing them. And I doubt if I'm able to keep working on this repository. Also, there is a high chance that I'll

[2021-01-04 12:15] cdytoby commented on #91
I don't have a newest iPhone in my hand so I can't do bugfix on this subject, need help on this one.

[2021-01-04 12:18] cdytoby commented on #90
I believe it's possible if you add another camera and rendered after the post render camera, but I'm not sure. You can try it yourself.

[2021-01-04 12:23] cdytoby commented on #79
The unity guys keeps talking about the official cardboard plugin, and refuse to help in this subject, even I uploaded this project as a whole, not as a plugin.

Anyway, help is still wanted to solve this issue.

[2021-01-04 14:11] andypoly commented on #91
Can anyone report what Screen.dpi Unity reports for iPhone 12 models - I suspect this is wrong and might be related (Have no iphone 12 on hand right now either).
How is the scale of the eye views decided @cdytoby? Is it in mobfish code?

[2021-01-04 15:59] cdytoby commented on #91
https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/blob/master/Assets/Cardboard/Scripts/Behaviours/CardboardPostCamera.cs

This MonoBehaviour is about drawing the eye mesh for each eye, including modifying the orthogonal projection matrix.

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/blob/master/Assets/Cardboard/Scripts/CardboardLensDistortion.cs

In this code contains how the eye mes

[2021-01-12 12:24] andypoly commented on #91
Yep are the fixes to be ported across?
https://github.com/googlevr/cardboard/issues/144

[2021-02-01 13:17] AndreySkyFoxSidorov commented on #91
1. Download https://github.com/mobfishgmbh/cardboard
2. Need update file screen_params.mm to https://github.com/googlevr/cardboard/blob/master/sdk/screen_params/ios/screen_params.mm
3. Build and replase libsdk.a file

[2021-02-01 19:59] friggasaint commented on #91
Could you elaborate on how to build with updated screen_params.mm to a new libsdk.a?

[2021-02-12 07:31] kaaaana commented on #91
You can create libsdk.a  from the updated sdk by using Xcode.

[2021-02-12 07:33] kaaaana opened #94 "VR view for iPhone7 is correct?"

[2021-02-13 12:44] AndreySkyFoxSidorov commented on #91
[libsdk.zip](https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/files/5975659/libsdk.zip)

[2021-02-16 13:14] MSachs1 opened #95 "I don't get the 'Additional Settings for Android' section in the wiki"
I am trying to build for Android but I don't understand the wiki section mentioned above...

Can anyone tell me how I would go about creating the custom gradle files or add the packages to dependencies?

<img width="957" alt="Bildschirmfoto 2021-02-16 um 13 53 02" src="https://user-images.githubusercontent.com/74609850/108067577-48c5e700-7061-11eb-9fcd-2ff9d13955cf.png">

[2021-02-17 11:07] #95 closed

[2021-03-10 10:51] andyz opened #96 "Manifest merge issue on android"
Perhaps not specific to this plugin but using it with another plugin in Unity (2019 LTS) and building for Android I get merge conflicts with the manifest. Anyone know the fix / likely issue?

Manifest merger failed : Attribute application@appComponentFactory value=(androidx.core.app.CoreComponentFactory) from [androidx.core:core:1.0.0] AndroidManifest.xml:22:18-86
  	is also present at [com.androi

[2021-03-10 23:14] championsnet opened #97 "Gyroscope on Android is laggy"
When building for Android the gyroscope is super laggy. The frames are steady at 45 but when rotating the phone the rotation is super laggy. The refresh rate of the rotation feels no more than 10.

This does not happen in iOS where everything is smooth. I should note that on Android I tried it on a Xiaomi Redmi Note 8 and on iOS on an iPhone XR.

[2021-03-11 12:38] championsnet commented on #97
To add to that, input from gyroscope seems to be working fine when I debug it (update interval is 0.02s). The same goes for the rotation which seems to refresh in normal rates (50-60Hz). It still feels extremely laggy when rotating the phone but that is not the case when I use the joystick, the movement is smooth at 45fps...

[2021-03-11 17:12] championsnet commented on #97
Please guys, any help would be appreciated!

[2021-03-18 16:41] andypoly commented on #91
thanks, I think! - much smaller - stripped of debugging info or something?

[2021-03-23 16:31] championsnet commented on #93
Hey there, we appreciate your work and effort. Could you share with us the changes you made to the official Cardboard Open Source Project in order to produce the sdk-debug.aar file so we could still apply new patches and keep using Mobfish?

Thank you so much for your contribution!

[2021-03-31 06:01] kukuhbr commented on #77
Hi! I'm having the same problem in iOS. @cdytoby
I've read your developer statement regarding that you've stopped active maintenance and switched to intermittent check to this repository. Thankyou for your hard work for this repo and I wish you good luck for what's to come.

I'm using unity 2018.4 and firebase 6.14 (also tried 6.16.1 with the same result).
I've also tried enabling zombie objects i

[2021-05-19 09:02] AndreySkyFoxSidorov opened #99 "Crashes on the latest versions of Android 11 (SDK 30). PLS Help."
Hello everyone.
I observe random crashes, on the latest versions of Android 11 (SDK 30).

Does anyone have a solution?
Where can I download the sources for sdk-debug.aar? To fix the problem?

`
CardboardMainCamera.SetupEyeRenderTextureDescription(), graphicsFormat=R8G8B8A8_UNorm
AndroidJavaException:  com.google.cardboard.sdk.qrcode.CardboardParamsUtils
*** *** *** *** *** *** *** *** *** *** ***

[2021-06-01 08:09] jaeseokpark2681 opened #100 "After modifying screen_params.mm to support iPhone 12, applying libsdk.a does not call QRobserver in NotificationObserver.m."
Hi

After modifying screen_params.mm to support iPhone 12, applying libsdk.a does not call QRobserver in NotificationObserver.m.

https://github.com/mobfishgmbh/Cardboard-VR-Unity-SDK/issues/91#issuecomment-778613950

After applying the above link and exchanging libsdk.a, NotificationObserver.m does not call QRObserver. Why is that so?

[2021-09-03 07:36] dh7300 opened #101 "How can I add this Cardboard feature to my project with Facebook SDK?"
Hello.

I'm looking at Usage on the wiki and applying it to my project. In the editor, all the desired functions are well expressed.

When building with Android, NoVRCamGroup displays only a black screen.

When switching to VRCamGroup, the message UI 'No Cardboard Model Available' appears.

I can't make a custom gradle, so I don't know what to do.

Any help would be greatly appreciated.

[2021-10-08 11:33] SachinGanesh commented on #100
Hi @jaeseokpark2681 , Were you able to solve this issue?

[2021-12-17 05:33] Samshekar opened #102 "Unable to find cardboard_unity_jni"
2021-12-17 10:50:25.804 15052-15123/? E/Unity: Unable to find cardboard_unity_jni
2021-12-17 10:50:25.830 15052-15123/? E/Unity: DllNotFoundException: Unable to load DLL 'cardboard_unity_jni': The specified module could not be found.
      at MobfishCardboard.CardboardAndroidInitialization.CardboardUnity_initializeAndroid (System.IntPtr context) [0x00000] in <00000000000000000000000000000000>:0